.layout{
  height: 100%;
}


.logo{
  height: 32px;
  line-height: 32px;
  color: #fff;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  padding-left: 10px;
  overflow: hidden;
}

.trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  float: left;
}
.trigger:hover{
  color: #108ee9;
}

.dropdownDiv{
  float: right;
  margin-right: 15px;
  font-size: 14px;
}

.contentDiv{
  background: #fff;
  padding: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  overflow-y: auto;
}